doctype html
html
  head
    title Please Login - SNKR Creator
    link(rel="stylesheet", href="/public/app.css")
  body
    div(class="container")
      if status
        div(class=status.css) #{ status.message }
      div(class="row")
        div(class="centered")
          form(action="/", method="POST")
            label Username
            input(class="u-full-width", name="username", type="text")
            label Password
            input(class="u-full-width", name="password", type="password")
            button(class="button-primary u-full-width") LOGIN
    script(src="/public/app.js", type="text/javascript")